{
    "presets": [
        ["@babel/preset-env"]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime", {
            "corejs": 3,
            "helpers": true,
            "useESModules": true
        }]
        // ["@babel/plugin-transform-modules-commonjs"]
    ]
}