{
    "presets": [
        ["@babel/preset-env", {
            "modules": false,
            "corejs": 3,
            "useBuiltIns": "usage"
        }]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime"],
        ["@babel/plugin-transform-modules-commonjs"]
    ]
}